<mat-card>
  <mat-card-title class="title">Formulario asistencia</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">



      <mat-form-field>
        <mat-label>PersonaId</mat-label>
        <mat-select formControlName="PersonaId">

          <mat-option *ngFor="let opcion of Personas" [value]="opcion.id">{{ opcion.nombre }}</mat-option>

        </mat-select>
        <mat-error
          *ngIf="form.controls['PersonaId'].invalid && (form.controls['PersonaId'].dirty || form.controls['PersonaId'].touched)">
          Seleccione una opcion
        </mat-error>
      </mat-form-field>

      <p>
        <mat-form-field class="fechaHora">

          <input type="" matInput placeholder="Fecha y hora" formControlName="fechaHora">
          <mat-error *ngIf="form.controls['fechaHora'].invalid && (form.controls['fechaHora'].dirty || form.controls['fechaHora'].touched)">
        Complete el campo
      </mat-error>
        </mat-form-field>
      </p>
      

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button>Enviar</button>
      </div>

    </form>
    <div *ngIf="error">
      <p>{{ error }}</p>
    </div>
  </mat-card-content>
</mat-card>