td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-acciones.mat-column-acciones {

  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

td {
  padding: 20px 0;

  span {
    display: block;
    text-align: center;
  }
}

button {
  max-width: 70px;
  width: 90%;

  &:first-of-type {
    margin-bottom: 10px;
  }

}


.boton-crear{
  display: block;
  position: relative;
  button{
    margin-top: 20px;
    position: absolute;
    left: 95%;

  }
}
