<div class="main-container">
  <app-nav-bar-title></app-nav-bar-title>


  <mat-card class="main-card">
    <mat-card-title class="title">Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field class="correo">
            <input type="text" matInput placeholder="Correo" formControlName="correo">
            <mat-error
          *ngIf="form.controls['correo'].invalid && (form.controls['correo'].dirty || form.controls['correo'].touched)">
          Campo Requerido
      </mat-error>
          </mat-form-field>
        </p>
        

        <p>
          <mat-form-field>
            <input type="password" class="contraseña" matInput placeholder="contraseña" formControlName="contraseña">
            <mat-error
          *ngIf="form.controls['contraseña'].invalid && (form.controls['contraseña'].dirty || form.controls['contraseña'].touched)">
          Campo Requerido
      </mat-error>
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button type="submit" mat-button>Ingresar</button>
        </div>

      </form>
      <div *ngIf="error">
        <p>{{ error }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>