<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isWeb$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isWeb$ | async) ? 'over' : 'side'" [opened]="(isWeb$ | async) === false">
    <mat-toolbar><span class="material-symbols-outlined">
        home
      </span>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/admin/Persona"> <span class="material-symbols-outlined">
          person_filled
        </span> Persona</a>
      <a mat-list-item href="/admin/Usuario"> <span class="material-symbols-outlined">
          groups
        </span> Usuario</a>
      <a mat-list-item href="/admin/Ejercicios"><span class="material-symbols-outlined">
          fitness_center
        </span> Ejercicio</a>
      <a mat-list-item href="/admin/Rutina"><span class="material-symbols-outlined">
          sports_gymnastics
        </span> Rutina</a>
      <a mat-list-item href="/admin/Herramienta"><span class="material-symbols-outlined">
          exercise
        </span> Herramienta</a>
      <a mat-list-item href="/admin/Evento"><span class="material-symbols-outlined">
          event
        </span> Evento</a>
      <a mat-list-item href="/admin/Asistencia"><span class="material-symbols-outlined">
          assignment
        </span> Asistencia</a>


      <a mat-list-item href="/admin/Evento"><span class="material-symbols-outlined">
          event
        </span> Evento</a>

      <a mat-list-item href="/admin/CreatePersonaComponent"><span class="material-symbols-outlined">
          edit_note
        </span>Form-Persona</a>
      <a mat-list-item href="/admin/createUser"><span class="material-symbols-outlined">
          edit_note
        </span>Form-Usuario</a>
      <a mat-list-item href="/admin/createEjercicio"><span class="material-symbols-outlined">
          edit_note
        </span>Form-Ejercicios</a>
      <a mat-list-item href="/admin/createRutina"><span class="material-symbols-outlined">
          edit_note
        </span>Form-Rutina</a>
      <a mat-list-item href="/admin/createHerramienta"><span class="material-symbols-outlined">
          edit_note
        </span>Form-Herramientas</a>
      <a mat-list-item href="/admin/CreateEventoComponent"><span class="material-symbols-outlined">
          edit_note
        </span>Form-Evento</a>
      <a mat-list-item href="/admin/CreateAsistenciaComponent"><span class="material-symbols-outlined">
          edit_note
        </span>Form-Asistencia</a>

      <ng-container *ngIf="loggedIn$">
        <a mat-list-item (click)="onLogout()">
          <span class="material-symbols-outlined">logout</span> Logout
        </a>
      </ng-container>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isWeb$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gimnasio ETITC</span>
    </mat-toolbar>


  </mat-sidenav-content>
</mat-sidenav-container>